*{
	background-color: red;
}

body{
	padding-top:50px;
}
.bg-biru{
	background-color: #00aeef;
}

.bg-ijo{
	background-color: green;
}
.bg-koneng{
	background-color: yellow;
}
.bg-pink{
	background-color: pink;
}
.bg-orange{
	background-color: orange;
}
.height100px{
	height: 100px;
}
.width100px{
	width: 100px;
}
.element-center{
	margin:0 auto !important;
}

img{
	height: 40px;
	width: auto;
}